@model ChatVM
@using Final_Project.ViewModels
@{
    ViewData["Title"] = "Index";
}
@section Css{ 
    <style>


.chat {
    margin-top: auto;
    margin-bottom: auto;
}

.card {
    height: 500px;
    border-radius: 15px !important;
    background-color: rgba(0,0,0,0.4) !important;
}

.contacts_body {
    padding: 0.75rem 0 !important;
    overflow-y: auto;
    white-space: nowrap;
}

.msg_card_body {
    overflow-y: auto;
}

.card-header {
    border-radius: 15px 15px 0 0 !important;
    border-bottom: 0 !important;
}

.card-footer {
    border-radius: 0 0 15px 15px !important;
    border-top: 0 !important;
}

.container {
    align-content: center;
}

.search {
    border-radius: 15px 0 0 15px !important;
    background-color: rgba(0,0,0,0.3) !important;
    border: 0 !important;
    color: white !important;
}

    .search:focus {
        box-shadow: none !important;
        outline: 0px !important;
    }

.type_msg {
    background-color: rgba(0,0,0,0.3) !important;
    border: 0 !important;
    color: white !important;
    height: 60px !important;
    overflow-y: auto;
}

    .type_msg:focus {
        box-shadow: none !important;
        outline: 0px !important;
    }

.attach_btn {
    border-radius: 15px 0 0 15px !important;
    background-color: rgba(0,0,0,0.3) !important;
    border: 0 !important;
    color: white !important;
    cursor: pointer;
}

.send_btn {
    border-radius: 0 15px 15px 0 !important;
    background-color: rgba(0,0,0,0.3) !important;
    border: 0 !important;
    color: white !important;
    cursor: pointer;
}

.search_btn {
    border-radius: 0 15px 15px 0 !important;
    background-color: rgba(0,0,0,0.3) !important;
    border: 0 !important;
    color: white !important;
    cursor: pointer;
}

.contacts {
    list-style: none;
    padding: 0;
}

    .contacts li {
        width: 100% !important;
        padding: 5px 10px;
        margin-bottom: 15px !important;
    }

.active1 {
    background-color: rgba(0,0,0,0.3);
}

.user_img {
    height: 70px;
    width: 70px;
    border: 1.5px solid #f5f6fa;
}

.user_img_msg {
    height: 40px;
    width: 40px;
    border: 1.5px solid #f5f6fa;
}

.img_cont {
    position: relative;
    height: 70px;
    width: 70px;
}

.img_cont_msg {
    height: 40px;
    width: 40px;
}

.online_icon {
    position: absolute;
    height: 15px;
    width: 15px;
    background-color: #4cd137;
    border-radius: 50%;
    bottom: 0.2em;
    right: 0.4em;
    border: 1.5px solid white;
}

.offline {
    background-color: #c23616 !important;
}

.user_info {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 15px;
}

    .user_info span {
        font-size: 20px;
        color: white;
    }

    .user_info p {
        font-size: 10px;
        color: rgba(255,255,255,0.6);
    }

.video_cam {
    margin-left: 50px;
    margin-top: 5px;
}

    .video_cam span {
        color: white;
        font-size: 20px;
        cursor: pointer;
        margin-right: 20px;
    }

.msg_cotainer {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    border-radius: 25px;
    background-color: #82ccdd;
    padding: 10px;
    position: relative;
}

.msg_cotainer_send {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 10px;
    border-radius: 25px;
    background-color: #78e08f;
    padding: 10px;
    position: relative;
}

.msg_time {
    position: absolute;
    left: 0;
    bottom: -15px;
    color: rgba(255,255,255,0.5);
    font-size: 10px;
}

.msg_time_send {
    position: absolute;
    right: 0;
    bottom: -15px;
    color: rgba(255,255,255,0.5);
    font-size: 10px;
}

.msg_head {
    position: relative;
}

#action_menu_btn {
    position: absolute;
    right: 10px;
    top: 10px;
    color: white;
    cursor: pointer;
    font-size: 20px;
}

.action_menu {
    z-index: 1;
    position: absolute;
    padding: 15px 0;
    background-color: rgba(0,0,0,0.5);
    color: white;
    border-radius: 15px;
    top: 30px;
    right: 15px;
    display: none;
}

    .action_menu ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

        .action_menu ul li {
            width: 100%;
            padding: 10px 15px;
            margin-bottom: 5px;
        }

            .action_menu ul li i {
                padding-right: 10px;
            }

            .action_menu ul li:hover {
                cursor: pointer;
                background-color: rgba(0,0,0,0.2);
            }

@@media(max-width: 576px) {
    .contacts_card {
        margin-bottom: 15px !important;
    }
}
    </style>
}

<div class="container-fluid h-100">
    <div class="row justify-content-center h-100">
        <div class="col-md-4 col-xl-4 chat">
            <div class="card mb-sm-3 mb-md-0 contacts_card">
             
                <div class="card-body contacts_body">
                    <p id="Admin" style="display:none">@User.Identity.Name</p>
                    <ul class="contacts">

                        @for (int i = 0; i < Model.Restuorants.Count; i++)
                        {

                            <li class="user-list" style="cursor:pointer;" data-id="@Model.Restuorants[i].AppUserId">
                                <div class="d-flex bd-highlight">
                                    <div class="img_cont">
                                        <img src="~/assets/image/@Model.Restuorants[i].Image" class="rounded-circle user_img">
                                        <span id="@Model.Restuorants[i].AppUserId" class="@(Model.Users[i].ConnectionId!=null?"online_icon":"ofline_icon")"></span>
                                    </div>
                                    <div class="user_info">
                                        <span>@Model.Restuorants[i].Name</span>
                                        <p data-id="@Model.Restuorants[i].AppUserId" class="is_online">@Model.Restuorants[i].Name  @(Model.Users[i].ConnectionId!=null?"is online":"is ofline") </p>
                                    </div>
                                </div>
                            </li>
                        }


                        @for (int i = 0; i < Model.Stores.Count; i++)
                        {

                            <li class="user-list" style="cursor:pointer;" data-id="@Model.Stores[i].AppUserId">
                                <div class="d-flex bd-highlight">
                                    <div class="img_cont">
                                        <img src="~/assets/image/@Model.Stores[i].Image" class="rounded-circle user_img">
                                        <span id="@Model.Stores[i].AppUserId" class="@(Model.StoreUsers[i].ConnectionId!=null?"online_icon":"ofline_icon")"></span>
                                    </div>
                                    <div class="user_info">
                                        <span>@Model.Stores[i].Name</span>
                                        <p data-id="@Model.Stores[i].AppUserId" class="is_online">@Model.Stores[i].Name  @(Model.StoreUsers[i].ConnectionId!=null?"is online":"is ofline") </p>
                                    </div>
                                </div>
                            </li>
                        }

                    </ul>
                </div>
                <div class="card-footer"></div>
            </div>
        </div>
        <div class=" area_message d-none col-md-8 col-xl-6 chat">
            <div id="user_messages" class="card">

            </div>
        </div>
    </div>
</div>

@section Script{
    <script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>
    <script>
        var Connection = new signalR.HubConnectionBuilder().withUrl("/orderhub").build()
        Connection.start()
        Connection.on("recivemessage", function (data) {
        var msglist = document.getElementById("msglist")
            var body = document.querySelector(".msg_card_body")
            console.log(data)
            var divv = document.createElement("div")
            console.log(divv)
            divv.classList.add("d-flex")
            divv.classList.add("justify-content-start")
            divv.classList.add("mb-4")
            divv.innerHTML = `
            <div class="img_cont_msg">
                    <img src="https://localhost:44378/assets/image/${data.image}" class="rounded-circle user_img_msg">
                    </div>
                    <div class="msg_cotainer">
                       ${data.text}
                        <span class="msg_time">${data.date}</span>
                    </div>
`
            msglist.appendChild(divv)
            body.scrollTop = body.scrollHeight;

        })
        Connection.on("UserConnected", function (id) {

            var userid=id.toString()
            var user = document.getElementById(userid)
            user.classList.add("online_icon")
            user.classList.remove("ofline_icon")
            var is_onlines = document.querySelectorAll(".is_online")
            is_onlines.forEach(online => {
                var id=  online.getAttribute("data-id")
                if (id==userid) {
                    online.innerHTML="is online"
                }
            })
           console.log(user2)
   
        })
        Connection.on("UserDisConnected", function (id) {
            var userid = id.toString()
            var user = document.getElementById(userid)
            user.classList.remove("online_icon")
            user.classList.add("ofline_icon")
            var is_onlines = document.querySelectorAll(".is_online")
            is_onlines.forEach(online => {
                var id = online.getAttribute("data-id")
                if (id == userid) {
                    online.innerHTML = "is ofline"
                }
            })
            console.log(user2)
        })
        var btn = document.getElementById("btn")
        $(document).on("click", "#btn", function (e) {
            var body = document.querySelector(".msg_card_body")
            var ussser = document.getElementById("message_admin_user").getAttribute("data-id")
            e.preventDefault()
            var text = document.getElementById("textarea").value
            document.getElementById("textarea").value=""
            var msglist = document.getElementById("msglist")
            var divv = document.createElement("div")
          
            divv.classList.add("d-flex")
            divv.classList.add("justify-content-end")
            divv.classList.add("mb-4")
            divv.innerHTML = `
                    <div class="msg_cotainer_send">
                       ${text}
                        <span class="msg_time"></span>
                    </div>
                  <div class="img_cont_msg">
                    <img src="https://localhost:44378/assets/image/cdbe7be1-6efd-473c-9f5d-1104414be4a0logo.svg"" class="rounded-circle user_img_msg">
                    </div>
`
            msglist.appendChild(divv)
            body.scrollTop = body.scrollHeight;

            Connection.invoke("SendMessageToBussines", text, ussser)
            
        })

        var users = document.querySelectorAll(".user-list")
        console.log(users)
        users.forEach(user =>
        user.addEventListener("click", function (e) {
                e.preventDefault()
                users.forEach(use => {
                    use.classList.remove("active1")
                })
                user.classList.add("active1")
                var image = user.children[0].children[0].children[0].getAttribute("src")
                var Nameel = user.children[0].children[1].children[0]
                var name = Nameel.innerHTML
                var userid=user.getAttribute("data-id")
                var messages = document.getElementById("user_messages")
                var admin = document.getElementById("Admin").innerHTML
                var area = document.querySelector(".area_message")
                area.classList.remove("d-none")
                messages.innerHTML = `

     
                <div id="message_admin_user" data-id="${userid}" class="card-header msg_head">
                    <div class="d-flex bd-highlight">
                        <div class="img_cont">
                            <img src="${image}" class="rounded-circle user_img">
                            <span id="isonline" class=""></span>
                        </div>
                        <div class="user_info">
                            <span>Chat with ${name}</span>

                        </div>
                   
                    </div>
                    <span id="action_menu_btn"><i class="fas fa-ellipsis-v"></i></span>
                   
                </div>
                <div id="msglist" class="card-body msg_card_body">
                   

                </div>
                <div class="card-footer">
                    <div class="input-group">
                        <div class="input-group-append">
                            <span class="input-group-text attach_btn"><i class="fas fa-paperclip"></i></span>
                        </div>
                        <textarea id="textarea" name="" class="form-control type_msg" placeholder="Type your message..."></textarea>
                        <div id="btn" class="input-group-append">
                            <span class="input-group-text send_btn"><i class="fas fa-location-arrow"></i></span>
                        </div>
                    </div>
                </div>
           
`

                $.ajax({
                    url: "/admin/chat/getmessage",
                    data: {
                        userid: userid,
                        admin:admin
                    },
                    dataType: 'json',
                    type: "post",
                    success: function (data) {
                        console.log(data)
                        var messagelist = document.getElementById("msglist")
                    
                     
                    
                        $.map(data, function (val, i) {
                            
                            
                            if (val.appUserId == userid) {
                                var Recive = this.document.createElement("div")
                                Recive.classList.add("d-flex")
                                Recive.classList.add("justify-content-start")
                                Recive.classList.add("mb-4")
                                Recive.innerHTML =
                                    `
                                      <div class="img_cont_msg">
                           <img src="https://localhost:44378${image}" class="rounded-circle user_img_msg">
                       </div>
                       <div class="msg_cotainer">
                          ${val.text}
                           <span class="msg_time">${val.date.substring(11, 16)},</span>
                       </div>
                                         `
                                messagelist.appendChild(Recive)
                            } else {
                                var Send = this.document.createElement("div")
                                Send.classList.add("d-flex")
                                Send.classList.add("justify-content-end")
                                Send.classList.add("mb-4")
                                Send.innerHTML =
                                    `
                           <div class="msg_cotainer_send">
                           ${val.text}
                           <span class="msg_time_send">${val.date.substring(11, 16)}, Today</span>
                        </div>
                       <div class="img_cont_msg">
                             <img src="/assets/image/cdbe7be1-6efd-473c-9f5d-1104414be4a0logo.svg" class="rounded-circle user_img_msg">
                       </div>
                                 `
                                messagelist.appendChild(Send)
                            }

                            

                        })


                    },
                    error: function (status) {
                        console.log(status)
                    }
                })
            })
        )
        
     
      
    </script>
}
